soap-jws-webservice-client/src/main/java/me/elaamiri/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.elaamiri.me/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.elaamiri.me/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.elaamiri.me/" schemaLocation="http://localhost:9292/?xsd=1"/>
</xsd:schema>
</types>
<message name="covert">
<part name="parameters" element="tns:covert"/>
</message>
<message name="covertResponse">
<part name="parameters" element="tns:covertResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"/>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"/>
</message>
<portType name="BankWebservice">
<operation name="covert">
<input wsam:Action="http://webservice.elaamiri.me/BankWebservice/covertRequest" message="tns:covert"/>
<output wsam:Action="http://webservice.elaamiri.me/BankWebservice/covertResponse" message="tns:covertResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://webservice.elaamiri.me/BankWebservice/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://webservice.elaamiri.me/BankWebservice/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://webservice.elaamiri.me/BankWebservice/getAccountsRequest" message="tns:getAccounts"/>
<output wsam:Action="http://webservice.elaamiri.me/BankWebservice/getAccountsResponse" message="tns:getAccountsResponse"/>
</operation>
</portType>
<binding name="BankWebservicePortBinding" type="tns:BankWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="covert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankWebservicePort" binding="tns:BankWebservicePortBinding">
<soap:address location="http://localhost:9292/"/>
</port>
</service>
</definitions>